# Generic ignores
*.sqlite
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
deps
tts
LAB
SAMPLES
custom_components/auto_backup/*
images/mail_and_packages/*
www/mail_and_packages/*
www/ds/*
www/alerts/*

# Specific file ignores
.google.token
config_entries.json
.uuid
core
html5_push_registrations.conf
plex.conf
webostv.conf
ip_bans.yaml
known_devices.yaml
secrets.yaml
google_calendars.yaml
includes/zones.yaml
.configuration.yaml.un~
.ps4-games.json
OZW_Log.txt
.HA_VERSION

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep
zwscene.xml
options.xml
